  
  .service-section{
    flex-basis: 33%;
    margin: 10px;
  }
  
.card-title{
    font-size:1.5rem;
    color: rgb(110, 91, 171);
    font-weight: 700;
}
 
.our__services{
   margin: 30px;
}

.our__services h1{
  color: rgb(110, 91, 171);
  text-decoration-line: underline;  
}

