.hero-upper-desc {
    color: #894ae2;
    font-size: 1.5vw;
  }
  .hero-heading {
    font-size: 4vw;
  }
  .hero-lower-desc {
    font-size: 1.5vw;
  }
  .hero-img{
    width: 100%;
  }
  /* service section */
  .hero-section {
 
    margin: 200px auto;
  }
  
  @media only screen and (max-width: 700px) {
   
    .hero-section {
      text-align: center;
      margin: 100px 20px;
    }
    .hero-upper-desc {
      color: #894ae2;
      font-size: 4vw;
    }
    .hero-heading {
      font-size: 10vw;
    }
    .hero-lower-desc {
      font-size: 4vw;
    }
  
  }
  
  