#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swipe-item{
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    overflow: hidden;
}

/* custom css */
.heading{
    color: #46484b;
}
.main-portfolio{
    background: linear-gradient( 180deg , #d8e5ed,#f4f8fa);
    padding: 70px 0;

}
.cs-title{
    color: #46484b;

    font-size: 24px;
    font-weight: 700;
    padding: 20px 0;
}
.cs-description{
font-size: 15px;
    padding: 0px 30px 40px;
}


/* responsive */