.banner {
  margin-top: 100px;
  background: linear-gradient(3600deg, #7a56d4, #815be0);
  padding: 100px 0;
}
.flex-basis .heading {
  font-size: 60px;
}
.flex-basis .description {
  color: white;
  letter-spacing: 1px;
  font-size: 24px;
  font-weight: 100;
}
.flex-basis img {
  width: 100%;
}
