body {
    background: rgb(249, 249, 249);
  }
.main-container {
  max-width: 1280px;
  padding: 0 50px;
  margin: auto;
}
.flex {
  display: flex;
  flex-direction: row;
}

.flex-basis {
  flex-basis: 50%;
}
.banner__image{
   margin-bottom: 8rem;
}
@media only screen and (max-width: 700px) {
  .main-container {
    padding: 0 20px;
  }
  .flex {
    flex-direction: column;
  }
  .flex-basis {
    flex-basis: 100%;
  }
}
