.main-testimonial{
    /* background-color: #dbe7ee; */
    background: linear-gradient( 180deg , #d8e5ed,#f4f8fa);
    padding: 70px 0;
}
.client-container{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.client-container img{
    width: 100%;
}
.carousel-item-bg{
    border-radius: 20px;
    background-color: #8a37de;
    color: white;
    text-align: center;
    padding: 50px 100px;
}

.message-icon{
    filter: invert(100%);
    width: 50px;
}

.t-message{
    margin-top: 10px;
    font-size: 25px;
}

.t-person-name{
    margin: 40px 0 10px;
    font-size: 28px;
}
